/*div{
	background-color: aquamarine;
	text-align: center;
	padding: 20px 20px 20px 20px;
	
}
.font{
	font-size: 50px;
	font-family: cursive;
	text-decoration: bold;
}
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

picture,
img {
    max-width: 90%;
}*/
/* 1 column Layout*/
@media screen and (max-width: 600px) {
    ul li {
        float: left;
        width: 100%;
    }
}
/* 2  column Layout*/
@media screen and (min-width:600px) and (max-width: 1200px) {
    ul li {
        float: left;
        width: 50%;
    }
}


/* 2 column Layout*/

@media screen and (min-width:1200px) {
    ul li {
        float: left;
        width: 25%;
    }
    ul.res::after {
        content: '';
        clear: left;
        display: block;
    }
}
